*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}


.title_bar{
    display: none;
    height: 0px;
}

.profile_image_wrapper{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.profile_image{
    width: 100%;
    height: 100%;
}

#menu_btn{
    margin: 14px;
    width: 24px;
    height: 24px;
    background-image: url("../images/hamburger-menu-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: #2f2f2f;
}



header{
    position: fixed;
    width: 300px;
    background-color: #2f2f2f;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 50px 0;
    color: whitesmoke;
    z-index: 5;
}

.wrapper{
    margin-left: 300px;
}



.head_menu_container{
    margin-top: 20px;
}

.head_menu_item{
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border-bottom: 1px solid whitesmoke;
    font-weight: 500;
}

.head_menu_item:last-child{
    border: none;
}
.head_menu_item:hover{
    background-color: white;
    color: #2f2f2f;
    cursor: pointer;
}


.link_btn_container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_icon_btn{
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    /* border: 1px solid black; */
    margin: 0 10px;
    background-size: cover;
}

.link_icon_btn.email{
    background-image: url("../images/email_icon.png");
    filter: invert(100%);
}
.link_icon_btn.github{
    background-image: url("../images/GitHub-Mark-Light-32px.png");
}
.link_icon_btn.blog{
    background-image: url("../images/tistory-logo.svg");
    filter: invert(100%);
}

.background_img_container{
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.background_img{
    width: 100%;
    height: 100%;    
}

.wrapper{
    background-color: #f4f4f4;
}

.wrapper > section{
    min-height: 900px;
    margin: 6px 0;
    background-color: white;
    color: #2f2f2f;
}

.wrapper > section:first-child{
    margin-top: 0;
}

/* .wrapper > section:nth-child(2n){
    background-color: cornflowerblue;
}
.wrapper > section:nth-child(2n-1){
    background-color: darkkhaki;
} */

.section_content{
    padding: 6px 32px;
}

h2{
    color: #444;
}


@media screen and (max-width: 1024px)  {
    *{
        transition: all 0.3s;
    }
    header{
        left: -300px;
    }

    header.wide{
        left: 0px;
    }

    .wrapper{
        margin-top: 50px;
        margin-left: 0px;
    }

    .title_bar{
        display: block;
        height: 50px;
        margin-bottom: 50px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #2f2f2f;
    }

}