<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entrance_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
				<key>dateExpires</key>
				<string>10/11/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>10.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.6.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>FC1C573E04854CE6DCA1DDC7BCA704D17DE5C723</string>
						<key>dateExpires</key>
						<string>10/11/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>28PBD6KH98</string>
						<key>name</key>
						<string>1MILLION Co.,Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>28PBD6KH98.com.1million.studiosystem</string>
				<key>com.apple.developer.team-identifier</key>
				<string>28PBD6KH98</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e12dd7da-e501-4d6f-981c-665530df2e77</string>
				<key>dateExpires</key>
				<string>7/2/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.1million.studiosystem</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>28PBD6KH98</string>
				<key>name</key>
				<string>1MILLION Co.,Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
